name: Build
run-name: Build
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  - push
jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup premake
        uses: abel0b/setup-premake@v2.4
        with:
          version: "5.0.0-beta7"
      - name: Generate project
        shell: cmd
        run: |
          for /f "usebackq tokens=*" %%i in (`.github\vswhere -latest -prerelease -property installationPath`) do (
            set VS_DIR=%%i
          )
          call "%VS_DIR%\VC\Auxiliary\Build\vcvarsall.bat" x64 10.0.26100.0
          premake5 vs2022
      - name: Build
        shell: cmd
        run: |
          for /f "usebackq tokens=*" %%i in (`.github\vswhere -latest -prerelease -property installationPath`) do (
            set VS_DIR=%%i
          )
          call "%VS_DIR%\VC\Auxiliary\Build\vcvarsall.bat" x64 10.0.26100.0
          cd vs2022
          msbuild libs.sln /property:Configuration=Debug /property:Platform=x64
      - name: Test
        run: |
          bin/Debug/bhash.exe
          bin/Debug/bserial.exe
          bin/Debug/bspscq.exe
          bin/Debug/bstacktrace.exe
          bin/Debug/bcrash_handler.exe
          bin/Debug/tests.exe
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Premake
        uses: abel0b/setup-premake@v2.4
        with:
          version: "5.0.0-beta2"
      - name: Install dependencies
        uses: daaku/gh-action-apt-install@v4
        with:
          packages: libdw-dev
      - name: Generate project
        run: premake5 gmake
      - name: Build
        run: |
          cd gmake
          make config=debug
      - name: Test
        run: |
          bin/Debug/bhash
          bin/Debug/bserial
          bin/Debug/bspscq
          bin/Debug/bstacktrace
          bin/Debug/bcrash_handler || true
          bin/Debug/tests
